/* 商品圖片 */
.product-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

    @include pad {
        display: block;
        margin-left: -16px;
        margin-right: -16px;
    }
}

.product-col {
    width: calc(100% / 12*6);
    padding-right: 0px;
    padding-left: 0px;

    @include pad {
        width: calc(100%);
    }
}

/* 產品描述 */
.del-price{
    font-size: 14px;
    font-weight: 400;
    color: $neutral-500;
    padding-left: 8px;
}

/* 產品特色 */
.product-color{
    width: 64px;
    text-align: center;
    color: $neutral-600;
}

/* 產品尺寸 */
.btn-product-size {
    border: 1px solid $neutral-300;
    width: 160px;

    &.active {
        border-color: $neutral-900;
    }

    &:hover {
        border-color: $neutral-900;
    }

    &:disabled {
        color: $neutral-500;
        border-color: $neutral-300;
        cursor: default;
    }
}

/* 收藏/試穿 */
.product-action {
    display: flex;
    gap: 8px;
}

.product-action .btn {
    width: 50%;

    @include pad {
        width: 100%;
    }
}

.product-action .bi {
    padding-right: 8px;
}


/* 產品資訊 */
.product-info-title{
    font-weight: 500;
}

.product-info-item p{
    color: $neutral-600;
}

.product-info-item{
    border-bottom: 1px solid $neutral-300;
}
